PucpConnectPresentacion/Connected Services/ReporteWS/ReporteWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://ws.pucpconnect.pe.edu.pucp/" targetNamespace="http://ws.pucpconnect.pe.edu.pucp/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="generarReporteEventosConParticipantes" type="tns:generarReporteEventosConParticipantes" />
  <xs:element name="generarReporteEventosConParticipantesResponse" type="tns:generarReporteEventosConParticipantesResponse" />
  <xs:element name="generarReportePorcentajeAlumnosPorCarrera" type="tns:generarReportePorcentajeAlumnosPorCarrera" />
  <xs:element name="generarReportePorcentajeAlumnosPorCarreraResponse" type="tns:generarReportePorcentajeAlumnosPorCarreraResponse" />
  <xs:complexType name="generarReportePorcentajeAlumnosPorCarrera">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="generarReportePorcentajeAlumnosPorCarreraResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" nillable="true" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="generarReporteEventosConParticipantes">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="generarReporteEventosConParticipantesResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" nillable="true" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>