PucpConnectPresentacion/Connected Services/PUCPConnectWS/InteresWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://ws.pucpconnect.pe.edu.pucp/" targetNamespace="http://ws.pucpconnect.pe.edu.pucp/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="listarInteres" type="tns:listarInteres" />
  <xs:element name="listarInteresResponse" type="tns:listarInteresResponse" />
  <xs:complexType name="listarInteres">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarInteresResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:interes" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="interes">
    <xs:sequence>
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element name="id" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>