PucpConnectPresentacion/Connected Services/PUCPConnectWS/UsuarioWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://ws.pucpconnect.pe.edu.pucp/" targetNamespace="http://ws.pucpconnect.pe.edu.pucp/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="aceptarSolicitud" type="tns:aceptarSolicitud" />
  <xs:element name="aceptarSolicitudResponse" type="tns:aceptarSolicitudResponse" />
  <xs:element name="actualizarAlumno" type="tns:actualizarAlumno" />
  <xs:element name="actualizarAlumnoResponse" type="tns:actualizarAlumnoResponse" />
  <xs:element name="autenticarUsuario" type="tns:autenticarUsuario" />
  <xs:element name="autenticarUsuarioResponse" type="tns:autenticarUsuarioResponse" />
  <xs:element name="bloquearUsuario" type="tns:bloquearUsuario" />
  <xs:element name="bloquearUsuarioResponse" type="tns:bloquearUsuarioResponse" />
  <xs:element name="cambiarVisibilidad" type="tns:cambiarVisibilidad" />
  <xs:element name="cambiarVisibilidadResponse" type="tns:cambiarVisibilidadResponse" />
  <xs:element name="cancelarSolicitud" type="tns:cancelarSolicitud" />
  <xs:element name="cancelarSolicitudResponse" type="tns:cancelarSolicitudResponse" />
  <xs:element name="enviarSolicitudAmistad" type="tns:enviarSolicitudAmistad" />
  <xs:element name="enviarSolicitudAmistadResponse" type="tns:enviarSolicitudAmistadResponse" />
  <xs:element name="hacerMatch" type="tns:hacerMatch" />
  <xs:element name="hacerMatchResponse" type="tns:hacerMatchResponse" />
  <xs:element name="listarAmigosPorId" type="tns:listarAmigosPorId" />
  <xs:element name="listarAmigosPorIdResponse" type="tns:listarAmigosPorIdResponse" />
  <xs:element name="listarIntereses" type="tns:listarIntereses" />
  <xs:element name="listarInteresesResponse" type="tns:listarInteresesResponse" />
  <xs:element name="listarMatches" type="tns:listarMatches" />
  <xs:element name="listarMatchesResponse" type="tns:listarMatchesResponse" />
  <xs:element name="listarSolicitudesEnviadas" type="tns:listarSolicitudesEnviadas" />
  <xs:element name="listarSolicitudesEnviadasResponse" type="tns:listarSolicitudesEnviadasResponse" />
  <xs:element name="listarSolicitudesRecibidas" type="tns:listarSolicitudesRecibidas" />
  <xs:element name="listarSolicitudesRecibidasResponse" type="tns:listarSolicitudesRecibidasResponse" />
  <xs:element name="listarSugerencias" type="tns:listarSugerencias" />
  <xs:element name="listarSugerenciasResponse" type="tns:listarSugerenciasResponse" />
  <xs:element name="listarSugeridos" type="tns:listarSugeridos" />
  <xs:element name="listarSugeridosResponse" type="tns:listarSugeridosResponse" />
  <xs:element name="obtenerInteresesUsuario" type="tns:obtenerInteresesUsuario" />
  <xs:element name="obtenerInteresesUsuarioResponse" type="tns:obtenerInteresesUsuarioResponse" />
  <xs:element name="rechazarSolicitud" type="tns:rechazarSolicitud" />
  <xs:element name="rechazarSolicitudResponse" type="tns:rechazarSolicitudResponse" />
  <xs:element name="registrarAlumno" type="tns:registrarAlumno" />
  <xs:element name="registrarAlumnoResponse" type="tns:registrarAlumnoResponse" />
  <xs:element name="registrarInteresesUsuario" type="tns:registrarInteresesUsuario" />
  <xs:element name="registrarInteresesUsuarioResponse" type="tns:registrarInteresesUsuarioResponse" />
  <xs:complexType name="listarSolicitudesRecibidas">
    <xs:sequence>
      <xs:element name="idAlumno" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarSolicitudesRecibidasResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:amistad" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="amistad">
    <xs:sequence>
      <xs:element name="estado" type="xs:int" />
      <xs:element minOccurs="0" name="fecha" type="xs:string" />
      <xs:element minOccurs="0" name="fotoPerfilAlumnoDos" type="xs:string" />
      <xs:element minOccurs="0" name="fotoPerfilAlumnoUno" type="xs:string" />
      <xs:element name="idAlumnoDos" type="xs:int" />
      <xs:element name="idAlumnoUno" type="xs:int" />
      <xs:element name="idAmistad" type="xs:int" />
      <xs:element minOccurs="0" name="nombreAlumnoDos" type="xs:string" />
      <xs:element minOccurs="0" name="nombreAlumnoUno" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="bloquearUsuario">
    <xs:sequence>
      <xs:element name="idBloqueador" type="xs:int" />
      <xs:element name="idBloqueado" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="bloquearUsuarioResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cambiarVisibilidad">
    <xs:sequence>
      <xs:element name="idUsuario" type="xs:int" />
      <xs:element name="visible" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cambiarVisibilidadResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarIntereses">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarInteresesResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:interes" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="interes">
    <xs:sequence>
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element name="id" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="hacerMatch">
    <xs:sequence>
      <xs:element name="idAlumnoUno" type="xs:int" />
      <xs:element name="idAlumnoDos" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="hacerMatchResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarSugeridos">
    <xs:sequence>
      <xs:element name="idAlumno" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarSugeridosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:alumno" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="alumno">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:usuario">
        <xs:sequence>
          <xs:element minOccurs="0" name="biografia" type="xs:string" />
          <xs:element minOccurs="0" name="carrera" type="xs:string" />
          <xs:element name="edad" type="xs:int" />
          <xs:element minOccurs="0" name="fotoPerfil" type="xs:string" />
          <xs:element name="idAlumno" type="xs:int" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="idsAlumnosBloqueados" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="ubicacion" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="usuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="email" type="xs:string" />
      <xs:element name="estado" type="xs:boolean" />
      <xs:element minOccurs="0" name="fechaRegistro" type="tns:localDateTime" />
      <xs:element name="id" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="password" type="xs:string" />
      <xs:element name="visible" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="localDateTime" final="extension restriction">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarAmigosPorId">
    <xs:sequence>
      <xs:element name="idUsuario" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarAmigosPorIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:alumno" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="autenticarUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="email" type="xs:string" />
      <xs:element minOccurs="0" name="password" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="autenticarUsuarioResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:alumno" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="registrarAlumno">
    <xs:sequence>
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="password" type="xs:string" />
      <xs:element name="estado" type="xs:boolean" />
      <xs:element minOccurs="0" name="email" type="xs:string" />
      <xs:element name="edad" type="xs:int" />
      <xs:element minOccurs="0" name="carrera" type="xs:string" />
      <xs:element minOccurs="0" name="fotoPerfil" type="xs:string" />
      <xs:element minOccurs="0" name="ubicacion" type="xs:string" />
      <xs:element minOccurs="0" name="biografia" type="xs:string" />
      <xs:element name="visible" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="registrarAlumnoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="actualizarAlumno">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
      <xs:element name="idAlumno" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element name="edad" type="xs:int" />
      <xs:element minOccurs="0" name="carrera" type="xs:string" />
      <xs:element minOccurs="0" name="fotoPerfil" type="xs:string" />
      <xs:element minOccurs="0" name="ubicacion" type="xs:string" />
      <xs:element minOccurs="0" name="biografia" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="actualizarAlumnoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarSugerencias">
    <xs:sequence>
      <xs:element name="idUsuario" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarSugerenciasResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:usuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cancelarSolicitud">
    <xs:sequence>
      <xs:element name="idAmistad" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cancelarSolicitudResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="registrarInteresesUsuario">
    <xs:sequence>
      <xs:element name="idAlumno" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ids" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="registrarInteresesUsuarioResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="aceptarSolicitud">
    <xs:sequence>
      <xs:element name="idAmistad" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="aceptarSolicitudResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="enviarSolicitudAmistad">
    <xs:sequence>
      <xs:element name="idUsuario1" type="xs:int" />
      <xs:element name="idUsuario2" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="enviarSolicitudAmistadResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="obtenerInteresesUsuario">
    <xs:sequence>
      <xs:element name="idAlumno" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerInteresesUsuarioResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:interes" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarSolicitudesEnviadas">
    <xs:sequence>
      <xs:element name="idAlumno" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarSolicitudesEnviadasResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:amistad" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarMatches">
    <xs:sequence>
      <xs:element name="idUsuario" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarMatchesResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:usuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="rechazarSolicitud">
    <xs:sequence>
      <xs:element name="idAmistad" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="rechazarSolicitudResponse">
    <xs:sequence />
  </xs:complexType>
</xs:schema>