PucpConnectPresentacion/Connected Services/PUCPConnectWS/UsuarioWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://ws.pucpconnect.pe.edu.pucp/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="UsuarioWS" targetNamespace="http://ws.pucpconnect.pe.edu.pucp/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/PucpConnectWS/UsuarioWS?xsd=1" namespace="http://ws.pucpconnect.pe.edu.pucp/" />
    </xsd:schema>
  </types>
  <message name="crearPost">
    <part name="parameters" element="tns:crearPost" />
  </message>
  <message name="crearPostResponse">
    <part name="parameters" element="tns:crearPostResponse" />
  </message>
  <message name="hacerMatch">
    <part name="parameters" element="tns:hacerMatch" />
  </message>
  <message name="hacerMatchResponse">
    <part name="parameters" element="tns:hacerMatchResponse" />
  </message>
  <message name="listarIntereses">
    <part name="parameters" element="tns:listarIntereses" />
  </message>
  <message name="listarInteresesResponse">
    <part name="parameters" element="tns:listarInteresesResponse" />
  </message>
  <message name="bloquearUsuario">
    <part name="parameters" element="tns:bloquearUsuario" />
  </message>
  <message name="bloquearUsuarioResponse">
    <part name="parameters" element="tns:bloquearUsuarioResponse" />
  </message>
  <message name="listarAmigos">
    <part name="parameters" element="tns:listarAmigos" />
  </message>
  <message name="listarAmigosResponse">
    <part name="parameters" element="tns:listarAmigosResponse" />
  </message>
  <message name="cancelarSolicitud">
    <part name="parameters" element="tns:cancelarSolicitud" />
  </message>
  <message name="cancelarSolicitudResponse">
    <part name="parameters" element="tns:cancelarSolicitudResponse" />
  </message>
  <message name="registrarAlumno">
    <part name="parameters" element="tns:registrarAlumno" />
  </message>
  <message name="registrarAlumnoResponse">
    <part name="parameters" element="tns:registrarAlumnoResponse" />
  </message>
  <message name="cambiarVisibilidad">
    <part name="parameters" element="tns:cambiarVisibilidad" />
  </message>
  <message name="cambiarVisibilidadResponse">
    <part name="parameters" element="tns:cambiarVisibilidadResponse" />
  </message>
  <message name="listarSugerencias">
    <part name="parameters" element="tns:listarSugerencias" />
  </message>
  <message name="listarSugerenciasResponse">
    <part name="parameters" element="tns:listarSugerenciasResponse" />
  </message>
  <message name="listarMatches">
    <part name="parameters" element="tns:listarMatches" />
  </message>
  <message name="listarMatchesResponse">
    <part name="parameters" element="tns:listarMatchesResponse" />
  </message>
  <message name="rechazarSolicitud">
    <part name="parameters" element="tns:rechazarSolicitud" />
  </message>
  <message name="rechazarSolicitudResponse">
    <part name="parameters" element="tns:rechazarSolicitudResponse" />
  </message>
  <message name="autenticarUsuario">
    <part name="parameters" element="tns:autenticarUsuario" />
  </message>
  <message name="autenticarUsuarioResponse">
    <part name="parameters" element="tns:autenticarUsuarioResponse" />
  </message>
  <message name="aceptarSolicitud">
    <part name="parameters" element="tns:aceptarSolicitud" />
  </message>
  <message name="aceptarSolicitudResponse">
    <part name="parameters" element="tns:aceptarSolicitudResponse" />
  </message>
  <message name="listarPostParaMain">
    <part name="parameters" element="tns:listarPostParaMain" />
  </message>
  <message name="listarPostParaMainResponse">
    <part name="parameters" element="tns:listarPostParaMainResponse" />
  </message>
  <message name="actualizarAlumno">
    <part name="parameters" element="tns:actualizarAlumno" />
  </message>
  <message name="actualizarAlumnoResponse">
    <part name="parameters" element="tns:actualizarAlumnoResponse" />
  </message>
  <message name="listarAmigosPorId">
    <part name="parameters" element="tns:listarAmigosPorId" />
  </message>
  <message name="listarAmigosPorIdResponse">
    <part name="parameters" element="tns:listarAmigosPorIdResponse" />
  </message>
  <message name="listarSugeridos">
    <part name="parameters" element="tns:listarSugeridos" />
  </message>
  <message name="listarSugeridosResponse">
    <part name="parameters" element="tns:listarSugeridosResponse" />
  </message>
  <message name="listarPostPorId">
    <part name="parameters" element="tns:listarPostPorId" />
  </message>
  <message name="listarPostPorIdResponse">
    <part name="parameters" element="tns:listarPostPorIdResponse" />
  </message>
  <message name="enviarSolicitudAmistad">
    <part name="parameters" element="tns:enviarSolicitudAmistad" />
  </message>
  <message name="enviarSolicitudAmistadResponse">
    <part name="parameters" element="tns:enviarSolicitudAmistadResponse" />
  </message>
  <message name="listarSolicitudesRecibidas">
    <part name="parameters" element="tns:listarSolicitudesRecibidas" />
  </message>
  <message name="listarSolicitudesRecibidasResponse">
    <part name="parameters" element="tns:listarSolicitudesRecibidasResponse" />
  </message>
  <message name="obtenerInteresesUsuario">
    <part name="parameters" element="tns:obtenerInteresesUsuario" />
  </message>
  <message name="obtenerInteresesUsuarioResponse">
    <part name="parameters" element="tns:obtenerInteresesUsuarioResponse" />
  </message>
  <message name="registrarInteresesUsuario">
    <part name="parameters" element="tns:registrarInteresesUsuario" />
  </message>
  <message name="registrarInteresesUsuarioResponse">
    <part name="parameters" element="tns:registrarInteresesUsuarioResponse" />
  </message>
  <message name="listarSolicitudesEnviadas">
    <part name="parameters" element="tns:listarSolicitudesEnviadas" />
  </message>
  <message name="listarSolicitudesEnviadasResponse">
    <part name="parameters" element="tns:listarSolicitudesEnviadasResponse" />
  </message>
  <portType name="UsuarioWS">
    <operation name="crearPost">
      <input wsam:Action="http://ws.pucpconnect.pe.edu.pucp/UsuarioWS/crearPostRequest" message="tns:crearPost" />
      <output wsam:Action="http://ws.pucpconnect.pe.edu.pucp/UsuarioWS/crearPostResponse" message="tns:crearPostResponse" />
    </operation>
    <operation name="hacerMatch">
      <input wsam:Action="http://ws.pucpconnect.pe.edu.pucp/UsuarioWS/hacerMatchRequest" message="tns:hacerMatch" />
      <output wsam:Action="http://ws.pucpconnect.pe.edu.pucp/UsuarioWS/hacerMatchResponse" message="tns:hacerMatchResponse" />
    </operation>
    <operation name="listarIntereses">
      <input wsam:Action="http://ws.pucpconnect.pe.edu.pucp/UsuarioWS/listarInteresesRequest" message="tns:listarIntereses" />
      <output wsam:Action="http://ws.pucpconnect.pe.edu.pucp/UsuarioWS/listarInteresesResponse" message="tns:listarInteresesResponse" />
    </operation>
    <operation name="bloquearUsuario">
      <input wsam:Action="http://ws.pucpconnect.pe.edu.pucp/UsuarioWS/bloquearUsuarioRequest" message="tns:bloquearUsuario" />
      <output wsam:Action="http://ws.pucpconnect.pe.edu.pucp/UsuarioWS/bloquearUsuarioResponse" message="tns:bloquearUsuarioResponse" />
    </operation>
    <operation name="listarAmigos">
      <input wsam:Action="http://ws.pucpconnect.pe.edu.pucp/UsuarioWS/listarAmigosRequest" message="tns:listarAmigos" />
      <output wsam:Action="http://ws.pucpconnect.pe.edu.pucp/UsuarioWS/listarAmigosResponse" message="tns:listarAmigosResponse" />
    </operation>
    <operation name="cancelarSolicitud">
      <input wsam:Action="http://ws.pucpconnect.pe.edu.pucp/UsuarioWS/cancelarSolicitudRequest" message="tns:cancelarSolicitud" />
      <output wsam:Action="http://ws.pucpconnect.pe.edu.pucp/UsuarioWS/cancelarSolicitudResponse" message="tns:cancelarSolicitudResponse" />
    </operation>
    <operation name="registrarAlumno">
      <input wsam:Action="http://ws.pucpconnect.pe.edu.pucp/UsuarioWS/registrarAlumnoRequest" message="tns:registrarAlumno" />
      <output wsam:Action="http://ws.pucpconnect.pe.edu.pucp/UsuarioWS/registrarAlumnoResponse" message="tns:registrarAlumnoResponse" />
    </operation>
    <operation name="cambiarVisibilidad">
      <input wsam:Action="http://ws.pucpconnect.pe.edu.pucp/UsuarioWS/cambiarVisibilidadRequest" message="tns:cambiarVisibilidad" />
      <output wsam:Action="http://ws.pucpconnect.pe.edu.pucp/UsuarioWS/cambiarVisibilidadResponse" message="tns:cambiarVisibilidadResponse" />
    </operation>
    <operation name="listarSugerencias">
      <input wsam:Action="http://ws.pucpconnect.pe.edu.pucp/UsuarioWS/listarSugerenciasRequest" message="tns:listarSugerencias" />
      <output wsam:Action="http://ws.pucpconnect.pe.edu.pucp/UsuarioWS/listarSugerenciasResponse" message="tns:listarSugerenciasResponse" />
    </operation>
    <operation name="listarMatches">
      <input wsam:Action="http://ws.pucpconnect.pe.edu.pucp/UsuarioWS/listarMatchesRequest" message="tns:listarMatches" />
      <output wsam:Action="http://ws.pucpconnect.pe.edu.pucp/UsuarioWS/listarMatchesResponse" message="tns:listarMatchesResponse" />
    </operation>
    <operation name="rechazarSolicitud">
      <input wsam:Action="http://ws.pucpconnect.pe.edu.pucp/UsuarioWS/rechazarSolicitudRequest" message="tns:rechazarSolicitud" />
      <output wsam:Action="http://ws.pucpconnect.pe.edu.pucp/UsuarioWS/rechazarSolicitudResponse" message="tns:rechazarSolicitudResponse" />
    </operation>
    <operation name="autenticarUsuario">
      <input wsam:Action="http://ws.pucpconnect.pe.edu.pucp/UsuarioWS/autenticarUsuarioRequest" message="tns:autenticarUsuario" />
      <output wsam:Action="http://ws.pucpconnect.pe.edu.pucp/UsuarioWS/autenticarUsuarioResponse" message="tns:autenticarUsuarioResponse" />
    </operation>
    <operation name="aceptarSolicitud">
      <input wsam:Action="http://ws.pucpconnect.pe.edu.pucp/UsuarioWS/aceptarSolicitudRequest" message="tns:aceptarSolicitud" />
      <output wsam:Action="http://ws.pucpconnect.pe.edu.pucp/UsuarioWS/aceptarSolicitudResponse" message="tns:aceptarSolicitudResponse" />
    </operation>
    <operation name="listarPostParaMain">
      <input wsam:Action="http://ws.pucpconnect.pe.edu.pucp/UsuarioWS/listarPostParaMainRequest" message="tns:listarPostParaMain" />
      <output wsam:Action="http://ws.pucpconnect.pe.edu.pucp/UsuarioWS/listarPostParaMainResponse" message="tns:listarPostParaMainResponse" />
    </operation>
    <operation name="actualizarAlumno">
      <input wsam:Action="http://ws.pucpconnect.pe.edu.pucp/UsuarioWS/actualizarAlumnoRequest" message="tns:actualizarAlumno" />
      <output wsam:Action="http://ws.pucpconnect.pe.edu.pucp/UsuarioWS/actualizarAlumnoResponse" message="tns:actualizarAlumnoResponse" />
    </operation>
    <operation name="listarAmigosPorId">
      <input wsam:Action="http://ws.pucpconnect.pe.edu.pucp/UsuarioWS/listarAmigosPorIdRequest" message="tns:listarAmigosPorId" />
      <output wsam:Action="http://ws.pucpconnect.pe.edu.pucp/UsuarioWS/listarAmigosPorIdResponse" message="tns:listarAmigosPorIdResponse" />
    </operation>
    <operation name="listarSugeridos">
      <input wsam:Action="http://ws.pucpconnect.pe.edu.pucp/UsuarioWS/listarSugeridosRequest" message="tns:listarSugeridos" />
      <output wsam:Action="http://ws.pucpconnect.pe.edu.pucp/UsuarioWS/listarSugeridosResponse" message="tns:listarSugeridosResponse" />
    </operation>
    <operation name="listarPostPorId">
      <input wsam:Action="http://ws.pucpconnect.pe.edu.pucp/UsuarioWS/listarPostPorIdRequest" message="tns:listarPostPorId" />
      <output wsam:Action="http://ws.pucpconnect.pe.edu.pucp/UsuarioWS/listarPostPorIdResponse" message="tns:listarPostPorIdResponse" />
    </operation>
    <operation name="enviarSolicitudAmistad">
      <input wsam:Action="http://ws.pucpconnect.pe.edu.pucp/UsuarioWS/enviarSolicitudAmistadRequest" message="tns:enviarSolicitudAmistad" />
      <output wsam:Action="http://ws.pucpconnect.pe.edu.pucp/UsuarioWS/enviarSolicitudAmistadResponse" message="tns:enviarSolicitudAmistadResponse" />
    </operation>
    <operation name="listarSolicitudesRecibidas">
      <input wsam:Action="http://ws.pucpconnect.pe.edu.pucp/UsuarioWS/listarSolicitudesRecibidasRequest" message="tns:listarSolicitudesRecibidas" />
      <output wsam:Action="http://ws.pucpconnect.pe.edu.pucp/UsuarioWS/listarSolicitudesRecibidasResponse" message="tns:listarSolicitudesRecibidasResponse" />
    </operation>
    <operation name="obtenerInteresesUsuario">
      <input wsam:Action="http://ws.pucpconnect.pe.edu.pucp/UsuarioWS/obtenerInteresesUsuarioRequest" message="tns:obtenerInteresesUsuario" />
      <output wsam:Action="http://ws.pucpconnect.pe.edu.pucp/UsuarioWS/obtenerInteresesUsuarioResponse" message="tns:obtenerInteresesUsuarioResponse" />
    </operation>
    <operation name="registrarInteresesUsuario">
      <input wsam:Action="http://ws.pucpconnect.pe.edu.pucp/UsuarioWS/registrarInteresesUsuarioRequest" message="tns:registrarInteresesUsuario" />
      <output wsam:Action="http://ws.pucpconnect.pe.edu.pucp/UsuarioWS/registrarInteresesUsuarioResponse" message="tns:registrarInteresesUsuarioResponse" />
    </operation>
    <operation name="listarSolicitudesEnviadas">
      <input wsam:Action="http://ws.pucpconnect.pe.edu.pucp/UsuarioWS/listarSolicitudesEnviadasRequest" message="tns:listarSolicitudesEnviadas" />
      <output wsam:Action="http://ws.pucpconnect.pe.edu.pucp/UsuarioWS/listarSolicitudesEnviadasResponse" message="tns:listarSolicitudesEnviadasResponse" />
    </operation>
  </portType>
  <binding name="UsuarioWSPortBinding" type="tns:UsuarioWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="crearPost">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="hacerMatch">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarIntereses">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="bloquearUsuario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarAmigos">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="cancelarSolicitud">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="registrarAlumno">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="cambiarVisibilidad">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarSugerencias">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarMatches">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="rechazarSolicitud">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="autenticarUsuario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="aceptarSolicitud">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarPostParaMain">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="actualizarAlumno">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarAmigosPorId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarSugeridos">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarPostPorId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="enviarSolicitudAmistad">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarSolicitudesRecibidas">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="obtenerInteresesUsuario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="registrarInteresesUsuario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarSolicitudesEnviadas">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="UsuarioWS">
    <port name="UsuarioWSPort" binding="tns:UsuarioWSPortBinding">
      <soap:address location="http://localhost:8080/PucpConnectWS/UsuarioWS" />
    </port>
  </service>
</definitions>