PucpConnectPresentacion/Connected Services/PUCPConnectWS/UsuarioWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://ws.pucpconnect.pe.edu.pucp/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="UsuarioWS" targetNamespace="http://ws.pucpconnect.pe.edu.pucp/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/PucpConnectWS/UsuarioWS?xsd=1" namespace="http://ws.pucpconnect.pe.edu.pucp/" />
    </xsd:schema>
  </types>
  <message name="obtenerInteresesUsuario">
    <part name="parameters" element="tns:obtenerInteresesUsuario" />
  </message>
  <message name="obtenerInteresesUsuarioResponse">
    <part name="parameters" element="tns:obtenerInteresesUsuarioResponse" />
  </message>
  <message name="registrarInteresesUsuario">
    <part name="parameters" element="tns:registrarInteresesUsuario" />
  </message>
  <message name="registrarInteresesUsuarioResponse">
    <part name="parameters" element="tns:registrarInteresesUsuarioResponse" />
  </message>
  <message name="actualizarAlumno">
    <part name="parameters" element="tns:actualizarAlumno" />
  </message>
  <message name="actualizarAlumnoResponse">
    <part name="parameters" element="tns:actualizarAlumnoResponse" />
  </message>
  <message name="autenticarUsuario">
    <part name="parameters" element="tns:autenticarUsuario" />
  </message>
  <message name="autenticarUsuarioResponse">
    <part name="parameters" element="tns:autenticarUsuarioResponse" />
  </message>
  <message name="listarIntereses">
    <part name="parameters" element="tns:listarIntereses" />
  </message>
  <message name="listarInteresesResponse">
    <part name="parameters" element="tns:listarInteresesResponse" />
  </message>
  <message name="registrarAlumno">
    <part name="parameters" element="tns:registrarAlumno" />
  </message>
  <message name="registrarAlumnoResponse">
    <part name="parameters" element="tns:registrarAlumnoResponse" />
  </message>
  <portType name="UsuarioWS">
    <operation name="obtenerInteresesUsuario">
      <input wsam:Action="http://ws.pucpconnect.pe.edu.pucp/UsuarioWS/obtenerInteresesUsuarioRequest" message="tns:obtenerInteresesUsuario" />
      <output wsam:Action="http://ws.pucpconnect.pe.edu.pucp/UsuarioWS/obtenerInteresesUsuarioResponse" message="tns:obtenerInteresesUsuarioResponse" />
    </operation>
    <operation name="registrarInteresesUsuario">
      <input wsam:Action="http://ws.pucpconnect.pe.edu.pucp/UsuarioWS/registrarInteresesUsuarioRequest" message="tns:registrarInteresesUsuario" />
      <output wsam:Action="http://ws.pucpconnect.pe.edu.pucp/UsuarioWS/registrarInteresesUsuarioResponse" message="tns:registrarInteresesUsuarioResponse" />
    </operation>
    <operation name="actualizarAlumno">
      <input wsam:Action="http://ws.pucpconnect.pe.edu.pucp/UsuarioWS/actualizarAlumnoRequest" message="tns:actualizarAlumno" />
      <output wsam:Action="http://ws.pucpconnect.pe.edu.pucp/UsuarioWS/actualizarAlumnoResponse" message="tns:actualizarAlumnoResponse" />
    </operation>
    <operation name="autenticarUsuario">
      <input wsam:Action="http://ws.pucpconnect.pe.edu.pucp/UsuarioWS/autenticarUsuarioRequest" message="tns:autenticarUsuario" />
      <output wsam:Action="http://ws.pucpconnect.pe.edu.pucp/UsuarioWS/autenticarUsuarioResponse" message="tns:autenticarUsuarioResponse" />
    </operation>
    <operation name="listarIntereses">
      <input wsam:Action="http://ws.pucpconnect.pe.edu.pucp/UsuarioWS/listarInteresesRequest" message="tns:listarIntereses" />
      <output wsam:Action="http://ws.pucpconnect.pe.edu.pucp/UsuarioWS/listarInteresesResponse" message="tns:listarInteresesResponse" />
    </operation>
    <operation name="registrarAlumno">
      <input wsam:Action="http://ws.pucpconnect.pe.edu.pucp/UsuarioWS/registrarAlumnoRequest" message="tns:registrarAlumno" />
      <output wsam:Action="http://ws.pucpconnect.pe.edu.pucp/UsuarioWS/registrarAlumnoResponse" message="tns:registrarAlumnoResponse" />
    </operation>
  </portType>
  <binding name="UsuarioWSPortBinding" type="tns:UsuarioWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="obtenerInteresesUsuario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="registrarInteresesUsuario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="actualizarAlumno">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="autenticarUsuario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarIntereses">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="registrarAlumno">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="UsuarioWS">
    <port name="UsuarioWSPort" binding="tns:UsuarioWSPortBinding">
      <soap:address location="http://localhost:8080/PucpConnectWS/UsuarioWS" />
    </port>
  </service>
</definitions>